<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>그룹정보</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <style>
      body {
        height: auto;
        height: 180vh;
      }

      .group-info {
        margin-top: 50px;
        text-align: left;
        display: flex;
        flex-direction: column;
      }

      .group-info h3 {
        margin-top: 20px;
        margin-left: 23%;
      }

      .members {
        margin-top: 20px;
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        flex-wrap: wrap;
      }

      .members .card {
        margin-top: 20px;
        margin-left: 50px;
      }
    </style>
  </head>
  <body>
    <%- include('nav.ejs') %>

    <div
      class="card mb-3 container"
      style="max-width: 1000px; margin-top: 30px; height: 250px; border: none"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="/public/image/<%= group.img %>"
            class="img-fluid rounded"
            alt="..."
            style="height: 232px; width: 323px"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body" style="margin-left: 25px">
            <h5 class="card-title"><%=group.name %></h5>

            <p class="card-text" style="margin-top: 25px">
              각오 : <%=group.intro %>
            </p>
            <p class="card-text">
              <small class="text-muted">#<%=group.tag %></small>
              <small class="text-muted">#<%=group.member.length %>명</small>
            </p>
            <a class="btn btn-primary" href=" /group/<%=group._id %>/register" style="background-color: #f16a6e; border-color: #f16a6e;"
              >그룹 가입</a
            >
            <a
              class="btn btn-primary"
              href=" /group/<%=group._id %>/group_update" style="background-color: #4AB186; border-color: #4AB186;"
              >그룹 수정</a
            >
          </div>
        </div>
      </div>
    </div>

    <center style="margin-top: 70px">
      <hr id="line" class="my-1" style="width: 1130px" />
      <nav class="navbar navbar-expand" id="navibar" style="width: 1130px">
        <div class="container-fluid" style="margin-left: 60px">
          <div
            class="collapse navbar-collapse justify-content-start"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="item nav-item">
                <a class="nav-link" href="/group/<%=group._id %>">정보</a>
              </li>
              <li class="item nav-item">
                <a class="nav-link" href="#">스터디</a>
              </li>
              <li class="item nav-item">
                <a class="nav-link" href="/group/<%=group._id%>/group_postpage">게시판</a>
              </li>
              <li class="item nav-item">
                <a class="nav-link" href="/group/<%=group._id%>/bat "
                  >밭가꾸기</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <hr id="line" class="my-1" style="width: 1130px" />
    </center>

    <%- include('group_post.ejs') %>
    
    </div>
  </body>
</html>
