<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gowun+Batang">
    <title>공부밭 게시판</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <style>
      *{
            font-family: 'Gowun Batang', serif;
            font-size: 20px;
      }
      #searchDiv{
        margin:auto;
        text-align:center;
      }
      #searchForm{
        display: inline-block;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%- include('nav.html') %>
    
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <h2 class="ml-2 my-3 text-center">게시판</h2>

    <!-- 검색바 -->
    <div id="searchDiv" style="width: 1100px;">  
      <form id="searchForm"  class="input-group mb-3" style="padding: 1rem; background-color: rgba(255, 255, 255, 0.5); border: 1px solid #adb5bd;; border-radius: 5px;">
        <select class="form-select" style="width: 120px; display: inline-block">
          <option value="1">글내용</option>
          <option value="2">작성자</option>
          <option value="3">작성일</option>
        </select>
      <input type="text" class="form-control" style="display: inline-block; width: 81%;">
      <button class="btn btn-primary" type="submit">버튼</button>
      </form>
    </div>

    <!-- 게시글 -->
    <div class="container" style="width: 1130px;">
      <ul class="list-group">
        <% for(let i = 0; i < posts.length; i++){ %>
        <li class="list-group-item">
          글 번호 : <%= posts[i]._id %>
          <rightAligh style="float: right;">날짜 : <%= posts[i].createdate %></rightAligh>
          <p></p>
          <h4>글 내용 : <%= posts[i].content %>
            <userform style="float: right;">
              <button class="btn btn-danger delete" data-id="<%= posts[i]._id %>">삭제</button>
              <a class="btn btn-danger" href="/edit/<%= posts[i]._id %>">수정</a>
            </userform>
          </h4>
          <p></p>
          <!-- 만약에 댓글이 있다면 hr선 + 아래부터 댓글 -->
          <hr id="line" class="my-1" style="width: 100%">
          <p></p>
          <% for(let j = 0; j < comments.length; j++){ %>
            <% if(comments[j].post_id == posts[i]._id){ %>
            <h4>댓글 내용 : <%= comments[j].content %><rightAligh style="float: right;">날짜 : <%= comments[j].createdate %></rightAligh></h4>
            <% } %>
          <% } %>
        </li>
        <p></p>
        <% } %>
        

      </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>